<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :banco_proyectos_new %>

    <h3 id="align-title">Nuevo Proyecto de Residencia en Banco</h3>
    <%= render 'form' %>
</div>
