
<div class="container">

<header>
  <nav class = "navbar navbar-default" role = "navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>            
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Residencias Profesionales<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/solicitudes/new">Nueva Solicitud</a></li>
              <li><a href="/solicitudes">Solicitudes Realizadas</a></li>
            </ul>          
          </li>
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicio Social<span class="caret"></span></a>
            <ul class="dropdown-menu">
            </ul>          
          </li>
          <li><a href="/cuestionario_empresa">Cuestionario</a></li>
        </ul>            
      </div>
    
    </div>
  </nav>
</header>

</div>
