<div class="container">
	<header>
	  <nav class = "navbar navbar-default" role = "navigation">
		  <div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>            
			</div>
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">        
					<li><a href="/actividades/actividades_recientes">Actividades</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catálogos <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/cat_especialidades">Carreras en el ITO</a></li>
							<li><a href="/cat_departamentos">Departamentos en el ITO</a></li>
							<li><a href="/configuraciones">Configuraciones</a></li>
							<li><a href="/empresas">Empresas </a></li>
							<li><a href="/cat_evidencias">Evidencias para actividades</a></li>
							<li><a href="/cat_tipo_participaciones">Participación docente en actividades</a></li>
							<li><a href="/periodos">Periodos</a></li>
							<li><a href="/cat_plan_cursos">Plan de estudio</a></li>
							<li><a href="/cat_tipo_puestos">Puestos en el Dpto de Sistemas</a></li>
							<li><a href="/cat_tipo_actividades">Tipo actividades</a></li>
							<li><a href="/cat_tipo_grado_estudios">Tipo grado de estudios</a></li>
							<li><a href="/cat_tipo_examen_proyectos">Tipo examen profesional y proyecto</a></li>
							<li><a href="/cat_viaticos">Viáticos para actividades</a></li>
						</ul>          
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curso-Materias <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/periodo_curs_materias">Curso-Materias</a></li>
							<li><a href="/cat_criterio_evaluacion_docentes">Criterios para evaluación curso-docente</a></li>
							<li><a href="/periodo_liberacion_cursos">Periodo: Liberaciones</a></li>
						</ul>          
					</li> 
					<li><a href="/docentes">Docente</a></li>
					<li><a href="/estudiantes">Estudiante</a></li>
					<li><a href="/oficios/index">Oficios</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyecto <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/proyectos">Residencia</a></li>
							<li><a href="/proyecto_investigaciones">Investigación</a></li>
						</ul>          
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reunión Academia <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/reuniones">Reunión Academia</a></li>
							<li><a href="/cat_criterio_academias">Criterios</a></li>
							<li><a href="/periodo_actividad_academicas">Liberación: Actividad académica</a></li>
						</ul>          
					</li>
					<li><a href="/servicio_sociales">Servicio social</a></li>
				</ul>            
			</div>
		  </div>
		</nav>
	</header>
</div>