<div class="container">
  <header>
    <nav class = "navbar navbar-default" role = "navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>            
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">  
            <% @a = Estudiante.find_by(email: current_usuario.email) %>
            <% if @a != nil %>
              <li><%= link_to "Datos generales", estudiante_path(@a) %></li>
              <li><a href="/servicio_sociales">Servicio social</a></li>
              <% @residente = Estudiante.where("numControl <=", "((" + Time.current.year.to_s + " - 2006) * 100000) + 10000000") %>
              <% if @residente != nil %>
                <li><a href="/banco_proyectos">Banco de proyectos de residencia</a></li>
                <li><a href="/anteproyectos">Anteproyectos</a></li>
              <% end %>
              <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Residencia<span class="caret"></span></a>
            <ul class="dropdown-menu">
             <li><a href="/banco_proyectos">Residencia</a></li>
             <li><%= link_to "Reporte de Evaluacion", new_evaluacion_residencia_path %></li> 
            </ul>          
          </li>
              
            <% else %>                            
            <% end %>
            <li><a href="/perfil_egresados/new">Cuestionario</a></li>
          </ul>            
        </div>
      </div>
    </nav>
  </header>
</div>
