<% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'estudiante' %>
        <%= render template: "siged/menuEstudiante" %>
    <% end %>
<h1 id="align-title">Cuestionario de seguimiento de Egresados</h1>

<%= render 'form' %>