<p id="notice"><%= notice %></p>

<p>
  <strong>Opinion:</strong>
  <%= @comentario_egresado.opinion %>
</p>

<%= link_to 'Edit', edit_comentario_egresado_path(@comentario_egresado) %> |
<%= link_to 'Back', comentario_egresados_path %>
