<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_tipo_puesto_edit, @tipoPuesto%>

    <h3 id="align-title">Editar registro del Cátalogo de tipo de puestos en el DPTO</h3>
    <%= render 'form' %>
</div>