<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_tipo_puesto_new %>
    
    <h3 id="align-title">Registro del Cátalogo Tipo de puestos en el Dpto</h3>
    <%= render 'form' %>
</div>