<h4 id="align-title">Evidencia-Grupo</h4>

<% @actidoc.act_individual_docentes.each do |p| %>
    <dl class="dl-horizontal" id="align-list">
        <dt>Evidencia de la actividad</dt>
        <dd>
            <% @evi = CatEvidencia.find(p.cat_evidencia_id) %>
            <%= @evi.nombreEvidencia %>

            <% if p.pdfEvidencia == nil %>
                <%= link_to "Subir pdf evidencia", edit_actividad_docente_act_individual_docente_path(@actidoc, p) %>
            <% end %>
            <%= link_to "Ver evidencia", p.pdfEvidencia_url, :target => '_blank' %>
        </dd>
        <dt>Fecha actualización</dt>
        <dd><%= p.fechaActualizacion %></dd>
    </dl>
<% end %>