<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_tipo_grado_estudio_edit, @tipoGrado%>

    <h3 id="align-title">Editar registro del Cátalogo de tipo de Grados de Estudio</h3>
    <%= render 'form' %>
</div>