  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  
  <% if current_usuario.rol == "admin" %>
    <h3 id="align-title">Observaciones de Anteproyecto de Residencia Profesional</h3>
  <% else %>
    <h3 id="align-title">Edición de Anteproyecto de Residencia Profesional</h3>
  <% end %>

<%= render 'form' %>
