<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  <% breadcrumb :anteproyectos_new%>

  <h3 id="align-title">Nuevo Anteproyecto</h3>
  <%= render 'form' %>
</div>
