<div class="container">
    
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
    <% breadcrumb :evaluacion_curso_new %>
    <h3 id="align-title">Registro para el Cátalogo de Criterios para la Evaluación docente frente a grupo</h3>
    
    <div id="marco">
        <%= render 'form' %>
    </div>
</div>