<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_viatico_edit, @viatico%>

    <h3 id="align-title">Editar registro del Cátalogo de Viáticos para Actividades</h3>
    <%= render 'form' %>
</div>