<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_viatico_new %>

    <h3 id="align-title">Registro del Cátalogo de Viáticos para Actividades</h3>
    <%= render 'form' %>
</div>