<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_viatico, @viatico%>
    
    <h3 id="align-title">Datos del Viático para Actividades</h3>
    
    <dl class="dl-horizontal" id="align-list">
        <dt>Nombre del viático: </dt>
        <dd><%= @viatico.nombreViatico %></dd>
    </dl>

    <div class="row">
        <div class="col-xs-2 col-md-4" id="btn-cancelar">
            <%= button_to "Editar", edit_cat_viatico_path(@viatico), :class => 'btn btn-success', :method => :get %>
        </div>
        <div class="col-xs-2 col-md-4" id="btn-cancelar">
            <%= button_to "Regresar", cat_viaticos_path, :class => 'btn btn-info', :method => :get %>
        </div>
    </div>
</div>