tr{
	border-bottom: solid;
	border-width:1px;
}
table, tr, td, th, tbody, thead, tfoot{
	page-break-inside: avoid !important;
}

.tg  {
border-collapse:collapse;border-spacing:0;
}
.tg td{
font-family:Arial, sans-serif;font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;
}
.tg th{
font-family:Arial, sans-serif;font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;
}
.tg .tg-aed3{
font-weight:bold;background-color:#f5a200;vertical-align:top;
}
.tg .tg-aed4{
font-weight:bold;background-color:#f5a200;width: 10px;
}
.tg .tg-umko{
background-color:#f5a200;vertical-align:top
}
.tg .tg-jbmi{
font-size:100%;vertical-align:top
}
.tg .tg-yw4l{
 width: 200px;
 }
.tg .tg-o32l{
font-weight:bold;background-color:#f5a200;color:#333333;vertical-align:top
}
.tg .tg-9hbo{
font-weight:bold;vertical-align:top
}
