<div class="container">
  <% if current_usuario.rol == 'admin' %>
      <%= render template: "siged/menuAdmin" %>
  <% elsif current_usuario.rol == 'docente' %>
      <%= render template: "siged/menuDocente" %>    
  <% elsif current_usuario.rol == 'empresa' %>
      <%= render template: "siged/menuEmpresa" %>
  <% end %>
    
  <% breadcrumb :cat_documentos_new %>

  <h3 id="align-title">Nuevo Documento</h3>
  <%= render 'form' %>
</div>
