<div class="container">
    <%= render template: "siged/menuAdmin" %>
    <% breadcrumb :cat_tipo_participacion_edit, @tipoParticipacion%>
    
    <h3 id="align-title">Editar registro del Cátalogo de Participaciones</h3>
    <%= render 'form' %>
</div>