<% if current_usuario.rol == 'docente' %>
       <%= render template: "siged/menuAdmin" %>
      <%end%>
    
<div class="container">
    <h1 id="align-title">Editar datos del Cátalogo de Evaluacion de Residencia</h1>
    
    <%= render 'form' %>
</div>

