<%= render template: "siged/menuAdmin" %>
    
<div class="container">
    <h1 id="align-title">Registro para el Cátalogo de Criterios de Evalucion de Residencia </h1>
    
    <%= render 'form' %>
</div>