<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            p.ito { font-size: 12px; }
            table, th, td { font-size: 12px; padding: 2px;}
            table { border-collapse: collapse; }
        </style>
    </head>
    <body>
        <br/>
        <div style="width: 100%">
            <table>
                <tr>
                    <td>
						<% @a = PeriodoLiberacionCurso.find(params[:id]) %>
						<% if @a != nil && @a.cabeceraPeriodo != nil%>
							<%= wicked_pdf_image_tag(@a.cabeceraPeriodo_url, size: "800x115") %>
						<% end %>
                    </td>
				</tr>
            </table>
        </div>
    </body>
</html>