<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">					
			p { font-size: 10px; }
		</style>
	</head>
	<body>
		<div style="width: 100%;">
            <p align="center">
                Av. Ing. Víctor Bravo Ahuja #125 esq. Clz. Tecnológico. C.P. 68030. Oaxaca. Oax.<br/>
                Tels. (951) 5015016, Conmut. Ext. 201, e-mail; <u> dir_oaxaca@tecnm.mx </u>
                <br/>www.itoaxaca.edu.mx
            </p>
        </div>			
	</body>
</html>